.main-content
  h1(style="text-align: center;") 
  div(style="display: flex; justify-content: center; align-items: center;")
    iframe(width="854" height="480" src="https://www.youtube.com/embed/PTtg8Cfhjjc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

